<h4>Internal Server Error</h4>
@if (error) {
    <h5 class="test-danger"> Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this error, angular is not to blame.</p>
    <p>What to do next?</p>
    <ol>
        <li>Open chrome dev tools and check the failing network request in the network tab</li>
        <li>Examine the URL of the failing request</li>
        <li>Attempt to reproduce the error in postman - if you can reproduce it, the issue is in the API</li>
    </ol>
    <p class="font-weight-bold">Following the stack trace - check the first 2 lines to find out exactly where this problem has occured</p>
    <code class="mt-5" style="background-color: whitesmoke;">
       {{error.details}}
    </code>
}